@import "variables";
@import "form";
@import "header";
@import "card";
@import "commons";
@import "flash";
@import "task";

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
  font-family: Avenir;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}


body {
  height: 100%;
  background-color: white;
  font-size: 1em;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  padding: 16px 30px 24px;
  width: 100%;
  position: relative;
  top: 92px;

  h2 {
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    left: 26px;
    color: #000000;
    margin-bottom: 30px;
  }
}

